@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@font-face {
	font-family: 'Conthrax';
	src: url('../fonts/conthrax-sb.eot');
	src: local('☺'), url('../fonts/conthrax-sb.woff') format('woff'), url('../fonts/conthrax-sb.ttf') format('truetype'), url('../fonts/conthrax-sb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.logo {
	font-family: 'Conthrax';
	font-size: 2em;
  vertical-align: middle;
	display: inline-block;
}

.sticky {
  width: 100%;
}

.center {
	text-align: center;
}
.top-bar {
	box-shadow: 0px .5em 3px rgba(100,100,100,.8);
	border-bottom: 1px solid rgba(100,100,100,.2);
}

.top-bar-right a {
	color: #FFF;
}

.top-bar-right li {
	border-radius: 1em;
}
.top-bar-right li:hover {
	background: #444;
}

.menu-icon.dark {
	position: absolute;
	right: 5px;
	top: 40px;
}

ul.submenu {
  background: #fcc95d;
	border-radius: 1em;
	border: 0px transparent;
	box-shadow: 1px 2px 3px #333;
}

ul.submenu a {
	color: #131313;
}

ul.submenu li:hover a {
	color: #efefef;
}
.menu {
	margin-top: 5px;
}
.menu a {
	font-size: 1.25em;
}
.center {
	text-align: center;
}

.callout {
	border-radius: 0 0 1em 1em;
}

h3 {
  color: #4cbd3d;
}

button.quote {
	padding: .5em;
	color: #efefef;
	background: #343434;
	border-radius: .5em;
	font-size: 1.5em;
	transition: .2;
}

button.quote:hover {
	background: #565656;
	color: #dedede;

}