// FOUNDATION LIBRARIES //

@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// FONTS //

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@font-face {
	font-family: 'Conthrax';
	src: url('../fonts/conthrax-sb.eot');
	src: local('☺'), url('../fonts/conthrax-sb.woff') format('woff'), url('../fonts/conthrax-sb.ttf') format('truetype'), url('../fonts/conthrax-sb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// GLOBAL ELEMENTS //

* {
  transition:.25s ease-in-out;
  box-sizing:border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

body {
  background:#d9e4ea;
}

h3 {
  color: #4cbd3d;
}

span {
  display:block;
  border-radius:2px;
}

// CLASS OVERRIDES // 

.sticky {
  width: 100%;
}

.top-bar {
	box-shadow: 0px .5em 3px rgba(100,100,100,.5);
	border-bottom: 1px solid rgba(100,100,100,.2);
}

.callout {
	border-radius: 0 0 1em 1em;
	position: relative;
	z-index: -10;
}

// HELPER CLASSES // 

.center {
	text-align: center;
}

// SPECIFIC CLASSES //

span.logo {
	font-family: 'Conthrax';
	font-size: 2em;
  vertical-align: middle;
	display: inline-block;
	margin-left: .5em;
}

.title-bar {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a4884+0,0a77d5+19,539fe1+83,87bcea+100 */
background: #2a4884; /* Old browsers */
background: -moz-linear-gradient(top,  #2a4884 0%, #0a77d5 19%, #539fe1 83%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2a4884 0%,#0a77d5 19%,#539fe1 83%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2a4884 0%,#0a77d5 19%,#539fe1 83%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4884', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */

}

// NAVIGATION STYLES //

div#cross span {
	background: #131313;
}

#menu-toggle {
  width:50px;
  height:50px;
  margin:5px auto;
  position:relative;
  position:relative;
  cursor:pointer;
  border-radius:2.5px;
  background:rgba(0,0,0,.2);
  &:hover {
    background:rgba(0,0,0,.6);
  }
  #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    span {
      width:30px;
      height:2px;
      position:relative;
      top:3px;
      left:10px;
      margin:10px 0;
      background: #efefef;
      &:nth-child(1){
        transition-delay:.3s;
      }
      &:nth-child(2){
        transition-delay:.4s;
      }
      &:nth-child(3){
        transition-delay:.5s;
      }
      &:hover {
        background: #131313;
      }
    }
  }
  #cross {
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0%;
        width:2px;
        position:absolute;
        top:10%;
        left:24px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height:2px;
        position:absolute;
        left:10%;
        top:24px;
        transition-delay:.25s;
      }
    }
  }
}

#menu-toggle.open {
  #hamburger {
    span {
      width:0%;
      background: #131313;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.4s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.3s;
      }
    }    
  }
}

ul.menu a:hover {
	background: #343434;
	color: #efefef;
}

.title-bar {
	z-index: 9999;
}