<!-- BASIC TEMPLATE FOR EVERY PAGE WE CREATE -->

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StimHaus Development - Seattle Web</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

  <!-- CONTAINS THE NAVIGATION FOR EVERY PAGE -->
  <!-- Required wrappers for fancy off to the side nav -->
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
        <!-- CREATES A NAV WITH DRILLDOWN MENUS FOR SUBNAV -->
        <ul class="vertical menu" data-drilldown>
          <li>
            <a>Design</a>
            <ul class="vertical menu">
              <li><a href="#">Graphics</a></li>
              <li><a href="#">APIs</a></li>

            </ul>
          </li>
          <li><a href="#">Develop</a></li>
          <li><a href="#">Deploy</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <!-- HEADER STYLING -->
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar top-bar">
          <div class="title-bar-left">
            <img src="assets/img/logo.png" /><span class="logo">StimHaus</span>
          </div>
          <!-- Looks confusing, but its just some CSS3 magic to make a nice hamburger toggle for the nav -->
          <div class="title-bar-right">
            <div id="menu-toggle" data-open="offCanvasRight">
              <div id="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div id="cross">
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>

        <!-- EVERY PAGE WE MAKE ENDS UP RENDERING IN THIS SPACE - THIS IS BASICALLY INDIVIDUAL PAGES -->
        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
            {{> body}}
      </div>
    </div>
  </div>
    
    <!-- INCLUDES ANY JAVASCRIPT FILES WE CREATE -->
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>